@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root {
  --strong-cyan: hsl(172, 67%, 45%);

  --very-dark-cyan: hsl(183, 100%, 15%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --space-between: 40px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Space Mono';
  font-size: 24px;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--light-grayish-cyan);
}

.container {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: auto;
  place-items: center;
}

#logo {
  margin-block: var(--space-between);
}

#calculator {
  min-width: 100%;
  background-color: var(--white);
  padding: var(--space-between) 30px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto auto;
}

.subtitle {
  font-size: 16px;
  color: var(--very-dark-cyan);
  opacity: 0.7;
  margin-bottom: 12px;
}

#calculator input {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  font-size: 24px;
  font-family: 'Space Mono';
  font-weight: 700;
  min-width: 100%;
  direction: rtl;
  border: 0;
  border-radius: 8px;
  padding: 5px 10px;
  margin-bottom: var(--space-between);
}

#calculator #bill-input-wrapper {
  position: relative;
}

#calculator #dollar {
  width: 10px;
  position: absolute;
  left: 10px;
  top: 12px;
}

#calculator #percentages-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: var(--space-between);
}

#calculator .tip-btn {
  font-size: 24px;
  font-family: 'Space Mono';
  padding-block: 14px;
  border: 0;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--very-dark-cyan);
}

#calculator #custom {
  border-radius: 8px;
}

#calculator #custom input {
  width: 100%;
  height: 100%;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  opacity: 0.7;
  text-align: center;
}

#calculator #people-number-wrapper {
  position: relative;
}

#calculator #person-icon {
  position: absolute;
  left: 10px;
  top: 12px;
}

#result-panel {
  background-color: var(--very-dark-cyan);
  padding: var(--space-between) 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#calculator .result-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.result-wrapper h3 {
  font-size: 12px;
  color: var(--white);
}

.result-wrapper p {
  color: var(--strong-cyan);
}

.result-wrapper span {
  display: block;
  color: var(--grayish-cyan);
  font-size: 12px;
}

#result-panel .rest {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  min-width: 100%;
  padding-block: 14px;
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  margin-top: auto;
}

/*active states */
#calculator input:is(:focus, :active) {
  outline: 2px solid var(--strong-cyan);
}

#calculator .tip-btn:is(:hover, :focus, :active) {
  background-color: var(--strong-cyan);
}

#calculator #custom:is(:focus, :hover) {
  outline: 2px solid var(--strong-cyan);
}

#result-panel .rest:is(:focus, :hover) {
  background-color: var(--light-grayish-cyan);
}

@media (min-width: 970px) {
  .container {
    width: 80%;
    min-height: 80%;
  }

  #calculator {
    min-width: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }

  #calculator #percentages-div {
    grid-template-columns: repeat(3, minmax(110px, 1fr));
    grid-template-rows: repeat(2, 50px);
  }

  #calculator .tip-btn {
    padding-block: 8px;
  }

  .result-wrapper h3 {
    font-size: 24px;
  }

  .result-wrapper span {
    font-size: 16px;
  }

  .result-wrapper p {
    font-size: 32px;
  }

  #result-panel .rest {
    font-size: 28px;
  }
}
